body {
    background-image: url('../images/bacteria.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.jumbotron#one {
    background-image: url("../images/bellybutton.jpeg");
    background-position: bottom;
    background-size: cover;
}